/****************************TAG SELECTORS*************************/
body {
  background-color: #fdcb9e;
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {

  color: #66BFBF;
  font-size:5.625rem;
  margin-top: 50px auto 0 auto;
  /* color: #3f3f44; */
  font-family: 'Nunito', sans-serif;
}

h2 {
  color: #66BFBF;
  font-family: 'Amatic SC', cursive;
  font-size:2.5rem;
}

h3 {
  color: #11999E;
  font-family: 'Amatic SC', cursive;
}

p {
  color: #3f3f44;
  line-height: 2;
}

a {
  color: #11999E;
}

/****************************CLASS SELECTORS*************************/
.content-container {
  /*caused strange alignment:*/
    /* position: relative; */
  /*not neccessary:*/
    /* bottom: 650px; */
    /* width: 100%; */
}

.top-container {
  text-align: center;
  /* width: 100%; */
  /*caused strange alignment:*/
  /* position: absolute; */
  background-color: #cceabb;
  margin-left: 0;
  margin-right: 0;
}

.mountain {
  position: relative;
  left: 0;
}

.cloud1 {
  position: relative;
  top: 20px;
}

.cloud2 {
  position: relative;
  left: -30%;
  top: 70px;
}

.cloud3 {
  position: relative;
  left: 30%;
  top: 140px;
}

.contact-me {
  /* margin-left: 10px; */
  width: 50%;
  margin: 230px auto 100px auto;
}

.erisabesu-img {
  text-align: center;
  width: 100%;
}

.text {
  /* line-height: 2; */
  background-color: #cceabb;
  /* margin-left: 0;
  margin-right: 0; */
  padding: 20px;
  /* position: relative; */
  top: 100px;
  margin: auto;
}

.light {
  background-color: #f7f7f7;
  /* width: 100%; */
  height: 100px;
  position: relative;
  margin-bottom:5px;
}

.middle {
  background-color: #D9CCD1;
  /* width: 100%; */
  height: 100px;
  position: relative;
  margin-top: 5px;
  margin-bottom:5px;
}

.dark {
  background-color: #3f3f44;
  width: 100%;
  height: 100px;
  position: absolute;
  margin-top: 5px;
  margin-bottom:5px;
}

.pro {
  font-weight: bold;
}

.profile {
  /* margin-left: 10px; */
  width: 50%;
  margin: 100px auto 100px auto;
}

.skills {
  width: 50%;
  /* margin-left: 10px; */
  margin: 100px auto 100px auto;
}

.bottom-container {
  margin-left: 10px;
}
